<div class="home-container">
  <cmp-picture class="picture"></cmp-picture>
  <cmp-container classes="container rounded shadowed size-h-medium">
    <form>
      <h2>To Do</h2>
      <cmp-input placeHolder="Nombre de usuario..."></cmp-input>
      <cmp-input placeHolder="Contraseña..."></cmp-input>
      <cmp-input
        [handler]="login"
        value="Acceder"
        type="button"
        classes="button rounded"
      ></cmp-input>
      <p>Registrarse</p>
    </form>
  </cmp-container>
</div>
