<div class="home-container">
  <cmp-sidebar classes=" sidebar display-main"></cmp-sidebar>
  <div class="home-content">
    <cmp-navigation></cmp-navigation>
    <cmp-container classes="container rounded shadowed size-w-large">
      <cmp-list-items
        titleList="Lista de tareas"
        [task]="true"
        [data]="list"
      ></cmp-list-items>
      <cmp-list-items
        titleList="Completadas"
        [data]="completed"
      ></cmp-list-items>
    </cmp-container>
  </div>
  <cmp-picture [title]="user?.name"></cmp-picture>

  <div class="floating-list" [class.visible]="showAddingElement">
    <ul>
      <li name="list" class="floating-list-item" (click)="showModal($event)">
        Lista
      </li>
      <li name="group" class="floating-list-item" (click)="showModal($event)">
        Grupo
      </li>
      <li name="task" class="floating-list-item" (click)="showModal($event)">
        Tarea
      </li>
    </ul>
  </div>

  <cmp-input
    [handler]="handleAddNewElement"
    value="+"
    type="button"
    classes="circled floating-button"
  ></cmp-input>
  <!-- <button (click)="handleAddNewElement()">test</button> -->
</div>

<cmp-modal>
  <div [ngSwitch]="modalToShow" class="modal-header">
    <h2 *ngSwitchCase="'list'">Nueva Lista</h2>
    <h2 *ngSwitchCase="'group'">Nuevo Grupo</h2>
    <h2 *ngSwitchDefault>Nueva Tarea</h2>
  </div>
  <div [ngSwitch]="modalToShow" class="div modal-body">
    <form *ngSwitchCase="'list'" action="">
      <cmp-input></cmp-input>
      <cmp-input></cmp-input>
      <cmp-input
        value="Guardar"
        type="button"
        classes="button rounded"
      ></cmp-input>
    </form>
    <form *ngSwitchCase="'group'">
      <cmp-input></cmp-input>
      <cmp-input></cmp-input>
      <cmp-input></cmp-input>
      <cmp-input
        value="Guardar"
        type="button"
        classes="button rounded"
      ></cmp-input>
    </form>
    <form *ngSwitchDefault [formGroup]="taskForm" (submit)="createTask()">
      <input type="text" [formControl]="title" />
      <input type="text" [formControl]="description" />

      <input type="submit" />
    </form>
  </div>
</cmp-modal>
