<div class="home-container">
  <cmp-sidebar classes=" sidebar display-main"></cmp-sidebar>
  <div class="home-content">
    <cmp-navigation></cmp-navigation>
    <cmp-container classes="container rounded shadowed size-w-large">
      <ul>
        <cmp-item
          [task]="true"
          *ngFor="let item of list"
          [value]="item.title"
          [checkHandler]="completeTask(item.Id)"
        ></cmp-item>
      </ul>
    </cmp-container>
  </div>
  <cmp-picture [title]="user?.name"></cmp-picture>

  <div class="floating-list" [class.visible]="showAddingElement">
    <ul>
      <li name="list" class="floating-list-item" (click)="showModal($event)">
        Lista
      </li>
      <li name="group" class="floating-list-item" (click)="showModal($event)">
        Grupo
      </li>
      <li name="task" class="floating-list-item" (click)="showModal($event)">
        Tarea
      </li>
    </ul>
  </div>

  <cmp-input
    [handler]="handleAddNewElement()"
    value="+"
    type="button"
    classes="circled floating-button"
  ></cmp-input>
</div>

<cmp-modal>
  <div class="modal-body">
    <cmp-form [user]="user?.Id" [type]="modalToShow"></cmp-form>
  </div>
</cmp-modal>
