:root {
  --red-primary: #750520;
  --red-secondary: #ba5f5f;
  --text-primary: #fff;
  --text-secondary: #390707;
  --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shadowed {
  box-shadow: 0px 2px 8px 3px darkgray;
}

.rounded {
  border-radius: 8px;
}

/*Dev purpose only*/
body {
  background-color: black;
}


/*---------------Animations------------*/

@keyframes appear {
  from {

    height: 90px;
  }

  to {
    height: 190px;
  }
}
